html, body {
    font-family: "Inter",serif;
    font-size: 16px;
    color: #424242;
    line-height: 1.7;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

nav {
    font-size: 0.9rem;
    box-shadow: 2px 1px 2px #eee;
}

.nav-container {
    margin: auto;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links .nav-options {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links .menu {
    height: 18px;
}

.nav-options li {
    color: #666;
    padding: 20px;
}

.nav-options li:hover {
    color: #387ed1;
    cursor: pointer;
}

.logo {
    max-height: 18px;
}

main {
    margin-top: 10vh;
    text-align: center;
}

.landing-img {
    max-height: 45vh;
    max-width: 100%;
    margin-bottom: 65px;
    overflow: clip;
    overflow-clip-margin: content-box;
}

.content h1 {
    font-size: 2.75rem;
    line-height: 1.25;
    font-weight: 500;
    margin: 0;
}

.content h5 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}

.content .button {
    margin-top: 25px;
    background-color: #387ed1;
    color: #fff;
    border: 1px solid rgba(0,0,0,0) !important;
    border-radius: 3px;
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
}

.content .button:hover {
    background-color: #555;
}